<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="TablaResultados"></div>

<script type="text/javascript">
    
    $.noConflict();
    $(document).ready(function() {
        $.noConflict();
        envioGenericos("/ConsultaInformacion/ConsultaPedidosGeneral", null, "TablaResultados")
        $('#tablaResultadosFinal').DataTable();
    })
</script>   